@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: 244 244 245;
  --background: 9 9 10;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
